<router-outlet></router-outlet>
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="background">
<div class="bg">
    <div class="text-center ">
        <h1 class="heading">Welcome to SatTv</h1><br>
        <h2 class="sub-header">View available packs,channels and services</h2><br>
        <button type="button" class="btn btn-primary" routerLink="/Rechage">Recharge Now</button>
    </div><br>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h3 class="heading">Avialable Packs</h3>
        <div class="dropdown">
                <button class="btn btn-info dropdown-toggle dropbtn">More Info about Packs</button>
                <div class="dropdown-content">
                <a href="#">Silver - 50 ₹</a>
                <a href="#">Gold - 100 ₹</a>
                </div>
              </div>
      </div>
      <div class="col-sm">
            <h3 class="heading">Avialable Channels</h3>
            <div class="dropdown">
                    <button class="btn btn-info dropdown-toggle dropbtn">More Info about channels</button>
                    <div class="dropdown-content" >
                    <a href="#">Sony - 10 ₹</a>
                    <a href="#">Star Plus - 20 ₹</a>
                    <a href="#">Zee Cinema - 30 ₹</a>
                    <a href="#">Star Gold - 15 ₹</a>
                    <a href="#">Star sports - 12 ₹</a>
                    </div>
                  </div>
      </div>
      <div class="col-sm">
            <h3 class="heading">Avialable Addon Services</h3>
            <div class="dropdown">
                    <button class="btn btn-info dropdown-toggle dropbtn">More Info about Addons</button>
                    <div class="dropdown-content">
                            <a href="#">Learn English - 200 ₹</a>
                            <a href="#">Learn Cooking - 200 ₹</a>
                    </div>
                  </div>
      </div>
    </div>
  </div>
</div>
</div>
</body>
</html>