<router-outlet></router-outlet>
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="background">
<div class="bg">
    <div class="text-center ">
        <h1 class="heading">Welcome to SatTv</h1><br>
        <h2 class="sub-header">Your Subscribed packs,channels and services</h2><br>
        <button type="button" class="btn btn-primary" routerLink="/Recharge">Recharge Now</button>
    </div><br>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h3 class="heading">Subscribed Pack</h3>
        <div class="dropdown">
                <button class="btn btn-info dropdown-toggle dropbtn">your subscribed Packs</button>
                <div class="dropdown-content">
                <a href="#">Gold - 100 ₹</a>
                </div>
              </div>
      </div>
      <div class="col-sm">
            <h3 class="heading">Subscribed Channels</h3>
            <div class="dropdown">
                    <button class="btn btn-info dropdown-toggle dropbtn">your subscribed channels</button>
                    <div class="dropdown-content">
                    <a href="#">Discovery Channel- 10 ₹</a>
                    <a href="#">Nat Geo - 20 ₹</a>
                    </div>
                  </div>
      </div>
      <div class="col-sm">
            <h3 class="heading">Subscribed Services</h3>
            <div class="dropdown">
                    <button class="btn btn-info dropdown-toggle dropbtn">your subscribed Services</button>
                    <div class="dropdown-content">
                            <a href="#">Learn English - 200 ₹</a>
                    </div>
                  </div>
      </div>
    </div>
  </div>
</div>
</div>
</body>
</html>